In [58]:
from sqlalchemy import create_engine, text

In [59]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")

In [60]:
connection = engine.connect()

In [61]:
# Execute a query to fetch the list of databases
query = text("SHOW DATABASES")
result = connection.execute(query)

# Iterate through the result and print the database names
for row in result:
    print(row[0])

buy_online_db
information_schema
performance_schema

In [76]:
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, MetaData, TIMESTAMP
from sqlalchemy.sql import text
import pandas as pd
from datetime import datetime
import random

engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")

# Define the metadata object
metadata = MetaData()

# Define a table within the metadata object
test = Table(
    'test',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('username', String(100)),
    Column('email', String(100))
)

# Create the table in the database (generates SQL)
metadata.create_all(engine)

In [78]:
connection = engine.connect()
insert_statement = test.insert().values(username='name', email='myname@example.com')
result = connection.execute(insert_statement)

connection.commit()

# Check if the INSERT was successful
if result.rowcount == 1:
    print("INSERT was successful")
else:
    print("INSERT failed")

INSERT was successful

In [17]:
import pandas as pd

file_path = './data/1429_1.csv'
chunk_size = 50

# Define a generator function to yield chunks of data
def chunked_data_generator():
    for chunk_df in pd.read_csv(file_path, chunksize=chunk_size, encoding='utf-8'):
        yield chunk_df

# Create a generator object
data_generator = chunked_data_generator()

# Iterate over the generator to get chunks of 50 rows at a time
for chunk in data_generator:
    # Process each chunk here
    print(chunk.head())  # Example: Print the first 5 rows of each chunk

In [145]:
from sqlalchemy.sql import text

engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")
connection = engine.connect()

# Drop the table
tbl_name = 'product'
query = text(f"drop table if exists {tbl_name}")
result = connection.execute(query)
connection.commit()

In [146]:
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, MetaData, TIMESTAMP
from sqlalchemy.sql import text
import pandas as pd
from datetime import datetime
import random

engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")

# Define the metadata object
metadata = MetaData()

# Define a table within the metadata object
# Define the product table schema
product_table = Table('product', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(300)),
    Column('category', String(500)),
    Column('price', Float),
    Column('last_updated', TIMESTAMP)  # Use TIMESTAMP for the last_updated column
)

# Create the table in the database (generates SQL)
metadata.create_all(engine)

In [97]:
file_path = './data/marketing_sample_for_walmart_com-ecommerce__20191201_20191231__30k_data.csv'
df = pd.read_csv(file_path)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Uniq Id          30000 non-null  object
 1   Crawl Timestamp  30000 non-null  object
 2   Product Url      30000 non-null  object
 3   Product Name     30000 non-null  object
 4   Description      29947 non-null  object
 5   List Price       30000 non-null  float64
 6   Sale Price       30000 non-null  float64
 7   Brand            29436 non-null  object
 8   Item Number      8875 non-null   float64
 9   Gtin             30000 non-null  int64
 10  Package Size     0 non-null      float64
 11  Category         29983 non-null  object
 12  Postal Code      0 non-null      float64
 13  Available        30000 non-null  bool
dtypes: bool(1), float64(5), int64(1), object(7)
memory usage: 3.0+ MB

In [130]:
df.head()

,Uniq Id,Crawl Timestamp,Product Url,Product Name,Description,List Price,Sale Price,Brand,Item Number,Gtin,Package Size,Category,Postal Code,Available
0,019b67ef7f01103d8fb0a53e4c36daa7,2019-12-18 10:20:52 +0000,https://www.walmart.com/ip/La-Costena-Chipotle...,"La Costena Chipotle Peppers, 7 OZ (Pack of 12)",We aim to show you accurate product informati...,31.93,31.93,La Costeï¿½ï¿½a,NaN,139941530,NaN,"Food | Meal Solutions, Grains & Pasta | Canned...",NaN,True
1,3a4ff306dcc8a6e2bf720964d29b84c3,2019-12-18 17:21:48 +0000,https://www.walmart.com/ip/Equate-Triamcinolon...,Equate Triamcinolone Acetonide Nasal Allergy S...,We aim to show you accurate product informati...,10.48,10.48,Equate,569045548.0,632775553,NaN,Health | Equate | Equate Allergy | Equate Sinu...,NaN,True
2,80090549d7d176327b186353c7b28ca4,2019-12-18 17:46:41 +0000,https://www.walmart.com/ip/AduroSmart-ERIA-Sof...,AduroSmart ERIA Soft White Smart A19 Light Bul...,We aim to show you accurate product informati...,10.99,10.99,AduroSmart ERIA,568068849.0,281487005,NaN,Electronics | Smart Home | Smart Energy and Li...,NaN,True
3,151ee1c61a29bacfedb01cd500494b2f,2019-12-18 22:14:22 +0000,https://www.walmart.com/ip/24-Classic-Adjustab...,"24"" Classic Adjustable Balloon Fender Set Chro...",We aim to show you accurate product informati...,38.59,38.59,lowrider,NaN,133714060,NaN,Sports & Outdoors | Bikes | Bike Accessories |...,NaN,True
4,7b2ef8d41f65df121f6b4b9828cf8dad,2019-12-18 06:56:02 +0000,https://www.walmart.com/ip/Elephant-Shape-Sili...,Elephant Shape Silicone Drinkware Portable Sil...,We aim to show you accurate product informati...,5.81,5.81,Anself,NaN,104042139,NaN,Baby | Feeding | Sippy Cups: Alternatives to P...,NaN,True

In [148]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, TIMESTAMP, MetaData
from sqlalchemy.sql import text
import pymysql
from datetime import datetime
import logging
from tqdm import tqdm

logger = logging.getLogger("my_logger")

try:
  engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")
  connection = engine.connect()
except pymysql.Error:
  logger.error(f"Database connection error: {err}")

# Define the metadata
metadata = MetaData()

# Define the product table schema
product_table = Table('product', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(300)),
    Column('category', String(500)),
    Column('price', Float),
    Column('last_updated', TIMESTAMP)
)

file_path = './data/marketing_sample_for_walmart_com-ecommerce__20191201_20191231__30k_data.csv'
df = pd.read_csv(file_path)
df.fillna("Uncategorized", inplace=True)

try:
  for id, row in tqdm(df.iterrows(), total=len(df)):
    try:
      uniq_id = str(id+1)
      # print(f"id={id}")
      name = row['Product Name']
      cat = row['Category']
      price = row['List Price']
      datetime_str = row['Crawl Timestamp']
      datetime_obj = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S %z')
      last_updated = datetime_obj.strftime('%Y-%m-%d %H:%M:%S')
    except KeyError as key_err:
      logger.error(f"KeyError: {key_err}")
      continue
    except ValueError as value_err:
      logger.error(f"ValueError: {value_err}")
      continue
    except Exception as err:
      logger.error(f"An unexpected error occurred: {err}")
      continue

    # Insert data into the product table
    insert_query = product_table.insert().values(
      id=uniq_id,
      name=name,
      category=cat,
      price=price,
      last_updated=last_updated
    )

    # Execute the query
    connection.execute(insert_query)
    connection.commit()
    # break

except Exception as err:
    logger.error(f"An unexpected error occurred: {err}")
finally:
    # Close the connection
    connection.close()

100%|██████████| 30000/30000 [02:29<00:00, 200.99it/s]

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, TIMESTAMP, MetaData
from sqlalchemy.sql import text
import pymysql
from datetime import datetime
import random
import logging

logger = logging.getLogger("my_logger")

try:
  engine = create_engine("mysql+pymysql://mysql:mysql@localhost:3307/buy_online_db")
  connection = engine.connect()
except pymysql.Error:
  logger.error(f"Database connection error: {err}")

# Define the metadata
metadata = MetaData()

# Define the product table schema
product_table = Table('product', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(300)),
    Column('category', String(500)),
    Column('price', Float),
    Column('last_updated', TIMESTAMP)
)

file_path = './data/marketing_sample_for_walmart_com-ecommerce__20191201_20191231__30k_data.csv'

# Iterate through your data and insert it into the product table

with pd.read_csv(file_path, chunksize=chunk_size) as reader:
  for chunk in reader:
      for _, row in chunk.iterrows():
        try:
          name = row['name']
          cat = row['categories']
          price = random.uniform(100.00, 2000.00)
          datetime_str = row['reviews.dateAdded']
          datetime_obj = datetime.strptime(datetime_str, '%Y-%m-%dT%H:%M:%SZ')
          last_updated = datetime_obj
        except KeyError as key_err:
          logger.error(f"KeyError: {key_err}")
          continue
        except ValueError as value_err:
          logger.error(f"ValueError: {value_err}")
          continue
        except Exception as err:
          logger.error(f"An unexpected error occurred: {err}")
          continue

        # Insert data into the product table
        insert_query = product_table.insert().values(
          id=id,
          name=name,
          category=cat,
          price=price,
          last_updated=last_updated
        )

        # Execute the query
        connection.execute(insert_query)
        connection.commit()
        id += 1
      # break

  # Close the connection
  connection.close()